<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid">
    <a [routerLink]="['/']" class="navbar-brand ps-2">Phrase</a>
    <button class="btn btn-secondary mr-4" [routerLink]="['/miscellaneous-example']">
      Miscellaneous Example
    </button>
      <div class="dropdown">
        <button
          class="btn btn-secondary dropdown-toggle"
          type="button"
          id="dropdownMenuButton1"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          <i class="fa fa-globe" aria-hidden="true"></i> {{ siteLanguage }}
          <span class="caret"></span>
        </button>
        <ul
          id="dropdown-animated"
          class="dropdown-menu dropdown-menu-right"
          role="menu"
          aria-labelledby="button-animated"
        >
          <ng-container *ngFor="let language of languageList">
            <li role="menuitem">
              <a class="dropdown-item" (click)="changeSiteLanguage(language.code)">
                {{ language.label }}
              </a>
            </li>
          </ng-container>
        </ul>
      </div>
  </div>
</nav>
